.ribbon {
  font-size: 28px;
  font-weight: bold;
  color: white; 
  text-decoration: underline; 
  font-family: "pacifico",sans-serif;
}
.ribbon {
  --c: rgb(183, 0, 255) ;
  
  padding: .6em 1.3em; 
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  text-align: center;
  position: relative;
  z-index: 0;
  width: fit-content;
  box-sizing: border-box;
}
.ribbon:before {
  content:"";
  position: absolute;
  z-index: -1;
  inset: 50% 0 auto;
  aspect-ratio: 1;
  background: color-mix(in srgb, var(--c), #000 35%);
  clip-path: polygon(calc(100%/3) 0,calc(200%/3) 0,100% 90%,80% 85%,calc(200%/3) 100%,calc(100%/3) 0,calc(200%/3) 0,calc(100%/3) 100%,20% 85%,0 90%);
}
.ribbon:after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: radial-gradient(35% 35%,#0000 96%,#0003 97% 99%,#0000) var(--c);
  clip-path: polygon(100.00% 50.00%,89.66% 55.22%,98.30% 62.94%,86.96% 65.31%,93.30% 75.00%,81.73% 74.35%,85.36% 85.36%,74.35% 81.73%,75.00% 93.30%,65.31% 86.96%,62.94% 98.30%,55.22% 89.66%,50.00% 100.00%,44.78% 89.66%,37.06% 98.30%,34.69% 86.96%,25.00% 93.30%,25.65% 81.73%,14.64% 85.36%,18.27% 74.35%,6.70% 75.00%,13.04% 65.31%,1.70% 62.94%,10.34% 55.22%,0.00% 50.00%,10.34% 44.78%,1.70% 37.06%,13.04% 34.69%,6.70% 25.00%,18.27% 25.65%,14.64% 14.64%,25.65% 18.27%,25.00% 6.70%,34.69% 13.04%,37.06% 1.70%,44.78% 10.34%,50.00% 0.00%,55.22% 10.34%,62.94% 1.70%,65.31% 13.04%,75.00% 6.70%,74.35% 18.27%,85.36% 14.64%,81.73% 25.65%,93.30% 25.00%,86.96% 34.69%,98.30% 37.06%,89.66% 44.78%); 
}  


header img { 
    background-image: none; 
    margin-top: -220px; 
    width: 100%; 
    margin-bottom: 50px;
} 

header p { 
    color: white; 
    margin-top: -680px; 
    text-align: center; 
    text-transform: uppercase; 
    font-size: xx-large;
    font-family: "exo-2" , sans-serif; 
    text-transform: uppercase; 
    
} 

.pop-up button 
{ background-color: rgb(183, 0, 255); 
bottom: 40px;}

nav ul { 
       
      text-decoration: none; 
      display: flex;
      justify-content: space-between;
      align-items: center;     
      width: 97%;
}


nav li { 
      text-decoration: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgb(183, 0, 255);
      padding: 10px 20px; 
      color: #fcfcfc;
      width: 100%;
} 

nav a { 
      text-decoration: none;
      color: #fcfcfc;
      font-family: "exo2" , sans-serif; 
      width: 100%;  
} 

nav { 
    width: 100%; 
    top: 700px;
} 

.myHr{
    background-color: goldenrod; 
    width: 100%;
    height: 12px;
    margin-top: 40px;
}

.navbar{
    background-color:rgb(29, 106, 223);
    height: 100px;
    line-height: 45px;
}

.navbar a{
    color:white;
    font-size: 17px;
    text-decoration: none;
    padding-left:2em;
    border-right: 1px solid rgb(183, 0, 255);
    padding-right: 2em;
}
.navbar a:last-child{
    border-right: none;
}

.left{
    padding-left: 100px;
}

i{
    color: white;
    margin: 30px;
    font-size: 25px;
    padding-left: 4em;
}

.logos :hover{
    color: rgb(29, 106, 223);

}

footer{
    background: linear-gradient(rgb(183, 0 , 255), cyan);
}


.logos a{
    padding-left: 320px;
    color: white;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); 

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}


.exo-2 {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.col_1 {width: 8.333333%;}
.col_2 {width: 16.666666%;}
.col_3 {width: 25%;}
.col_4 {width: 33.333333%;}
.col_5 {width: 41.666666%;}
.col_6 {width: 50%;}
.col_7 {width: 58.333333%;}
.col_8 {width: 66.666666%;}
.col_9 {width: 75%;}
.col_10 {width: 83.333333%;}
.col_11 {width:91.666666%;}
.col_12 {width: 100%;}

.container{
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section div{
  display: flex;
  justify-content: center;
  margin-top: 25px;
  color: black;
}

section img{
    border-radius: 5px;
}

main{
  background: linear-gradient(rgb(183, 0 , 255), rgb(29, 106, 223));
}

.margintop{
  margin-top: 480px;
}